<div class='span0 well text-center'>
  <span id='thumbsup'><%= comment.up_votes %></span>
  <% if logged_in? %>
    <%= link_to vote_post_comment_path(comment.post_id, comment, vote: true),
      method: :post  do %>
      <i class='icon-thumbs-up'></i>
    <% end %>
  <% else %>
    <i class='icon-thumbs-up'></i>
  <% end %>
  <br/>
  <%= comment.total_votes %> total
  <br/>
  <span id='thumbsdown'><%= comment.down_votes %></span>
  <% if logged_in? %>
    <%= link_to vote_post_comment_path(comment.post_id, comment, vote: false),
      method: :post do %>
      <i class='icon-thumbs-down'></i>
    <% end %>
  <% else %>
    <i class='icon-thumbs-down'></i>
  <% end %>
</div>
