<div class='span0 well text-center'>
  <span id='thumbsup_<%=comment.id%>'><%= comment.up_votes %></span>
  <% if logged_in? %>
    <%= link_to vote_post_comment_path(post, comment, vote: true),
      method: :post, remote: :true  do %>
      <i class='icon-thumbs-up'></i>
    <% end %>
  <% else %>
    <i class='icon-thumbs-up'></i>
  <% end %>
  <br/>
  <span id='comment_<%=comment.id%>_votes'><%= comment.total_votes %></span> total
  <br/>
  <span id='thumbsdown_<%=comment.id%>'><%= comment.down_votes %></span>
  <% if logged_in? %>
    <%= link_to vote_post_comment_path(post, comment, vote: false),
      method: :post, remote: :true do %>
      <i class='icon-thumbs-down'></i>
    <% end %>
  <% else %>
    <i class='icon-thumbs-down'></i>
  <% end %>
</div>
