<div class='row'>
  <div class='well span8'>
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>Submitted by: </span><%= post.creator.username %>.
    </p>
    <p><small>Created at: <%= post.created_at %></small></p>
    <span>
      <%= link_to "#{post.comments.size} comments", post %>
    </span>
  </div>
</div>