<div class='row'>
  <%= render 'vote', post: post %>
  <div class='well span8'>
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>Submitted by: </span>
      <%= link_to post.creator.username, user_path(post.creator) %>.
    </p>
    <p><small>Created at: <%= display_datetime(post.created_at) %></small></p>
    <span>
      <%= link_to "#{post.comments.size} comments", post %>
    </span>
  </div>
</div>
