<div class='row'>
  <div class='span0 well text-center'>
    <%= link_to vote_post_path(post, vote: true), method: :post  do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    <br/>
    <%= post.total_votes %>
    <br/>
    <%= link_to vote_post_path(post, vote: false), method: :post do %>
      <i class='icon-arrow-down'></i>
    <% end %>
  </div>
  <div class='well span8'>
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>Submitted by: </span>
      <%= link_to post.creator.username, user_path(post.creator) %>.
    </p>
    <p><small>Created at: <%= display_datetime(post.created_at) %></small></p>
    <span>
      <%= link_to "#{post.comments.size} comments", post %>
    </span>
  </div>
</div>
