<div class='span0 well text-center'>
  <span id='thumbsup_<%=post.id%>' >
    <%= post.up_votes %></span>
  <% if logged_in? %>
    <%= link_to vote_post_path(post, vote: true),
      method: :post, remote: :true  do %>
      <i class='icon-thumbs-up'></i>
    <% end %>
  <% else %>
    <i class='icon-thumbs-up'></i>
  <% end %>
  <br/>
  <span id='post_<%=post.id%>_votes'><%= post.total_votes %></span> total
  <br/>
  <span id='thumbsdown_<%=post.id%>' >
    <%= post.down_votes %></span>
  <% if logged_in? %>
    <%= link_to vote_post_path(post, vote: false),
      method: :post, remote: :true do %>
      <i class='icon-thumbs-down'></i>
    <% end %>
  <% else %>
    <i class='icon-thumbs-down'></i>
  <% end %>
</div>
