<h3>Welcome!</h3>

<p>This is the Postit template. You've access the PostsController, index action. This is the index template. Find me under app/views/posts folder.</p>

<% @posts.each do |post| %>
  <h4><%= post.title %></h4>

  <div class='well'>
    <%= post.url %>
    <br />
    <%= post.description %>
    <br />
    Submitted by: <%= post.creator.username %>.
  </div>
  <a href="<%= post_path(post) %>" >Show Post</a>
<% end %>

