<% if logged_in? && is_owner? %>
  <p class='pull-right'>
    [<%= link_to 'edit this post', edit_post_path(@post) %>]
  </p>
<% end %>

<%= render 'shared/content_title', title: @post.title %>
  <%= render @post.categories %>
  <div class='well'>
    <%= link_to @post.title, fix_url(@post.url) %>
    <br />
    <%= @post.description %>
    <br />
    <span class='quiet'>Submitted by:</span>
      <%= link_to @post.creator.username, user_path(@post.creator) %>.
  </div>


<% if logged_in? %>
  <%= render 'posts/comment_form', title: "Comment on this post:" %>
<% end %>

<h4>Comments:</h4>
<%= render @post.comments %>
