<p class='pull-right'>
  [<%= link_to 'edit this post', edit_post_path(@post) %>]
</p>

<%= render @post.categories %>

<%= render 'shared/content.title', title: @post.title %>

<%= render 'shared/error', obj: @post %>

<%= render 'posts/comment_form', title: "Create a Comment" %>

<div class='well'>
  <%= @post.url %>
  <br />
  <%= @post.description %>
  <br />
  <span class='quiet'>Submitted by:</span> <%= @post.creator.username %>.
</div>

<h4>Comments:</h4>
<% @post.comments.each do |comment| %>
<div class='well span8'>
  <%= comment.body %>
</div>
<% end %>
