<%= render @post.categories %>

<%= render 'shared/content.title', title: @post.title %>
<div class='well'>
  <%= @post.url %>
  <br />
  <%= @post.description %>
  <br />
  <span class='quiet'>Submitted by:</span> <%= @post.creator.username %>.
</div>
