<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
</ul>
<% if logged_in? %>
  <div class='nav_item'>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
  </div>
  <div class='logout'>
    <%= link_to 'Logout', logout_path, class: 'btn btn-small' %>
  </div>
  <div class='nav-login'>
    <i class='icon-user'></i>
    <span>Signed in as <%= current_user.username %></span>
  </div>
<% else %>
  <div class='nav_item'>
    <%= link_to 'Register', register_path, class: 'btn btn-inverse btn-small' %>
  </div>
  <div class='nav_item'>
    <%= link_to 'Login', login_path, class: 'btn btn-success btn-small' %>
  </div>
<% end %>
<div class='btn-group nav_item'>
  <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
    Categories <span class='caret'></span>
  <% end %>
  <ul class='dropdown-menu'>
    <% Category.all.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
    <% if logged_in? %>
      <li class='divider'></li>
      <li><%= link_to new_category_path  do %>
        <i class='icon-plus'></i>
        New Category
      <% end %>
    <% end %>
    </li>
  </ul>
</div>
